version: '3'

services:
  trainset:
    secrets:
      - tpm2_public_key
      - tpm2_private_key
    image: myapp:v1
    environment:
      - TPM2TOOLS_TCTI="swtpm:host=localhost,port=2321"
    tmpfs:
      - /tmp/decrypted:size=1G
    command: bash decode_dataset.sh

secrets:
  tpm2_public_key:
    external: true
  tpm2_private_key:
    external: true
