version: '3.8'

services:
  trainset:
    secrets:
      - tpm2_primary_key
      - tpm2_public_key
      - tpm2_private_key
    image: myapp:v1
    environment:
      - TPM2TOOLS_TCTI=swtpm:host=localhost,port=2321
    tmpfs:
      - /tmp/decrypted:size=1G
    volumes:
      - /tmp/mytpm:/tmp/mytpm
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TPM2TOOLS_TCTI=swtpm:host=host.docker.internal,port=2321
    command: bash prepare_dataset.sh
    networks:
      - overlay-net

secrets:
  tpm2_primary_key:
    external: true
  tpm2_public_key:
    external: true
  tpm2_private_key:
    external: true

networks:
  overlay-net:
    driver: overlay
