version: '3'

services:
  trainset:
    secrets:
      - tpm2_public_key
      - tpm2_private_key
    image: myapp:v1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TPM2TOOLS_TCTI="swtpm:host=host.docker.internal,port=2321"
    volumes:
      - /tmp/mytpm:/tmp/mytpm:ro
    tmpfs:
      - /tmp/decrypted:size=1G
    command: bash decode_dataset.sh

